@charset "UTF-8";
:root{
    --font-principal: arial, verdana, helvetica, sans-serif;
    --font-header-aside: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --font-aside:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --cor0:#aee0ff;
    --cor1:#46b8ff;
    --cor2:#077fca;
    --cor3:#1b5881;
    --cor4:#0a4066;
    --cor5:#05263d;;
    
    
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:var(--cor0);
}
@media only screen and (max-width: 510px) {
    nav a{
        width: 100%;
    }
}
a.externo::before{
    content: '\00A0\1f517';
}
div#title{
    text-align: center;
    background: linear-gradient(to bottom, var(--cor5), var(--cor4));
    padding: 20px;
    color: white;
    min-width: 128px;
    max-width: 1280px;
}
div#title:hover{
    color: red;
    -webkit-transition: all .4s ease-in;
}
header{
    background-color: linear-gradient(to bottom, var(--cor2), var(--cor4));
    font-family: var(--font-header-aside);
    background-color:var(--cor1);
    min-height: 400px;
    background: url("imagens/dev-9.jpg");
    min-width: 128px;
    max-width: 1280px;
    margin: auto;
}
header:hover{
    background: url("imagens/dev-18.jpg");
    -webkit-transition: all .4s ease-in;
}
header:active{
    background: url("imagens/dev-19.jpg");
    -webkit-transition: all .4s ease-in;
}
header > h1{
    color: white;
    text-align: center;
    font-size:4em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.384);
    padding-top: 150px;

}
header > h1:hover{
    color: red;
    -webkit-transition: all .4s ease-in;
}
nav{
    background: linear-gradient(to bottom, var(--cor4), var(--cor5));
    padding: 20px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    font-family: var(--font-principal);
    min-width: 128px;
    max-width: 1280px;
}
nav > #foto{
    background-color: transparent;
}
nav > #foto:hover{
    -webkit-transform: scale(1.1);
    -webkit-transition: all .4s ease-in;
}

nav > a{
    color:white;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 2px;
    transition-duration: .4s;
    display: inline-table;
}
nav > a:hover{
   
    -webkit-transform: scale(1.1);
    -webkit-transition: all .4s ease;
}

nav > a:hover{
    /*background-color:var(--cor1);*/
     color:red;
}
nav > a:active{
    background-color: none;
}
nav > #lksobre::before{
    content: '\1f913\00A0\00A0';
}
nav > #lkeasysoft::before{
    content: '\1F310\00A0\00A0';
}
nav > #lkprojectos::before{
    content: '\1F4C3\00A0\00A0';
}
nav > #foto::before{
    content: '\1F393\00A0\00A0';
}
main{
    background-color: white;
    min-width: 100px;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
article{
    margin-top: 50px;
    margin-bottom: 50px;
}
article  > h2{
    text-align: center;
    font-family: var(--font-header-aside);
    font-weight: normal;
    color: var(--cor4);
    margin-bottom: 30px;
}
article > h2:hover{
    color: var(--cor1);
}
article p{
    font-family: var(--font-principal);
    text-indent: 30px;
    margin: 15px 0px;
    text-align: justify;
    font-size: 1em;
    line-height: 1.8em;

}
article > img{
   padding: 0px;
   display: block;
   margin: auto;
   margin-bottom: 50px;
   margin-top: 10px;
   border: 1px solid var(--cor5);
}
article strong{
    font-weight: bold;
    color: var(--cor4);
}
div#ifundo > img#iperfil{
    content: url("imagens/rj-red3.jpg");
    width: 200px;
    height: 200px;
    padding: 0px;
    display: block;
    margin: auto;
    margin-top: 300px;
    border: 2px solid var(--cor5);
    
}
div#ifundo > img#iperfil:hover{
    content: url("imagens/rj-blue-2.jpg");
    -webkit-transition: all .4s ease-in;
    -webkit-transform: scale(1.2);
}
div#ifundo > img#iperfil:active{
    content: url("imagens/rj-blue-2.jpg");
    -webkit-transition: all .4s ease-in;
}
div#ifundo{
   background-image: url("imagens/rj-fundo-2.jpg");
   height: 400px;
   margin: auto;
   margin: 0px -10px;
   margin-bottom: 160px;
   margin-top: 50px;
   border: 1px solid var(--cor5);
}
div#ifundo:hover{
  background-image: url("imagens/rj-fundo.jpg");
  -webkit-transition: all .4s ease-in;
}

aside{
    background-color:var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.192);
    font-family: var(--font-principal);
    font-weight: normal;
    text-align: justify;
    text-indent: 1.8em;
}
aside > h3{
    background-color: var(--cor4) ;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    font-family: var(--font-header-aside);
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
}
aside a{
    font-weight: bold;
    text-decoration: none;
    color: var(--cor4);
    color: var(--cor3);
}
aside a:hover{
    text-decoration: underline;
}
aside a:active{
    color: var(--cor1);
}
aside > ul{
    list-style-type: '\00A0\00A0';
    list-style-position: inside;
    columns: 1;
    list-style: none;
}
footer{
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
    min-width: 128px;
    max-width: 1280px;
    font-size: 0.8em;
    min-height: 50px;
      
}
footer > p > a{
    padding: 20px 10px;
    color: white;
    text-decoration: none;
   
}
footer > p > a:hover{
    color: white;
    text-decoration: underline;
}
footer > p{
    color: white;
    font-family: var(--font-principal);
    padding: 30px 10px;
    text-align: center;
    
}
footer aside  p{
    text-align: justify;
    padding: 10px;
    font-family: var(--font-principal);
    color: white;
}

footer aside a{
    color: var(--cor3);
    font-weight: bolder;
    text-decoration: none;
    
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

