@charset "UTF-8";
:root{
    --font-principal: arial, verdana, helvetica, sans-serif;
    --font-header-aside: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --font-aside:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --cor0:#aee0ff;
    --cor1:#46b8ff;
    --cor2:#077fca;
    --cor3:#1b5881;
    --cor4:#0a4066;
    --cor5:#05263d;;
    
    
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#aee0ff;
}
@media only screen and (max-width: 510px) {
    nav a{
        width: 100%;
    }
}
a.externo::before{
    content: '\00A0\1f517';
}
div#title{
    text-align: center;
    background: linear-gradient(to bottom, var(--cor5), var(--cor4));
    padding: 20px;
    color: white;
    min-width: 128px;
    max-width: 1280px;
}
div#title:hover{
    color: red;
    -webkit-transition: all .4s ease-in;
}
header{
    background: linear-gradient(to bottom, var(--cor2), var(--cor4));
    font-family: var(--font-header-aside);
    background: linear-gradient(to bottom, var(--cor2), var(--cor4));
    min-height: 400px;
    background: url("imagens/dev-8.jpg");
    min-width: 128px;
    max-width: 1280px;
    margin: auto;
}
header:hover{
    background: url("imagens/dev-15.jpg");
    -webkit-transition: all .4s ease-in;
}
header:active{
    background: url("imagens/dev-14.jpg");
}
body > hr{
    border-left: 0px;
    border-right: 0px;
  }
header > h1{
    color:white;
    text-align: center;
    font-size:3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.384);
    padding-top: 150px;
    
}
header > h1:hover{
    color: red;
    -webkit-transition: all .4s ease-in;
}
nav{
    background: linear-gradient(to bottom, var(--cor4), var(--cor5));
    padding: 20px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    font-family: var(--font-principal);
    min-width: 128px;
    max-width: 1280px;
}
nav > #foto{
    background: transparent;
}
nav > #foto:hover{
    -webkit-transform: scale(1.1);
    -webkit-transition: all .4s ease-in;
}

nav > a{
    color:white;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition-duration: .4s;
    margin-top:-20px;
    display:inline-table;
    margin: 0.0px;
}
nav > a:hover{
   
    -webkit-transform: scale(1.1);
    -webkit-transition: all .4s ease;
}

nav > a:hover{
    /*background-color:var(--cor1);*/
     color:red;
}
nav > a:active{
    background-color: transparent;
}
nav > #lksobre::before{
    content: '\1f913\00A0\00A0';
}
nav > #lkeasysoft::before{
    content: '\1F3E2\00A0\00A0';
}
nav > #lkeasysoft{
    background-color: transparent;
}
nav > #lkprojectos::before{
    content: '\1F4C3\00A0\00A0';
}
nav > #lkredes::before{
    content: '\1F310\00A0\00A0';
}
nav > #foto::before{
    content: '\1F393\00A0\00A0';
}
main{
    background-color: white;
    min-width: 100px;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

article  > h2{
    text-align: center;
    padding-top: 50px;
    font-family: var(--font-header-aside);
    font-weight: normal;
    color: var(--cor4);
}
article p{
    font-family: var(--font-principal);
    text-indent: 30px;
    margin: 15px 0px;
    text-align: justify;
    font-size: 1em;
    line-height: 1.8em;
    
}
article > img{
    
    padding: 20px;
   display: block;
   margin: auto;
   margin-bottom: 50px;
}
article strong{
    font-weight: bold;
    color: var(--cor4);
}
aside{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color:var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.192);
    font-family: var(--font-principal);
    font-weight: normal;
    text-align: justify;
    text-indent: 1.8em;
    list-style: none;
}

aside > h3{
   
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    color: white;
    padding: 10px;
    margin: -10px -10px 10px -10px;
    border-radius: 10px 10px 0px 0px;
    font-family: var(--font-header-aside);
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
    
}
aside > h3::before{
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.192);
    content: url("imagens/fotos-2.png");
}
aside > #contato::before{
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.192);
    content: url("imagens/contato-2.png");
}
aside > .video::before{
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.192);
    content: url("imagens/video-2.png");
}
aside a{
    font-weight: bold;
    text-decoration: none;
    color: var(--cor4);
    color: var(--cor3);
}
aside a:hover{
    text-decoration: underline;
}
aside a:active{
    color: var(--cor1);
}
aside > ul{
    list-style-type: '\00A0\00A0';
    list-style-position: inside;
    columns: 1;
    list-style: none;
}
aside#livros > h3{
    margin: -10px 0px 0px 0px;
    margin-bottom: 10px;
}
aside#livros > h3::before{
    content: '';
}
aside#livros{
    text-align: center;
    margin: 50px 0px 50px 0px;
    margin: 0px;
    padding: 0px;
        
}
aside#livros p.center{
    display: inline;  
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin: 50px 0px 50px 0px;
    
}

aside#livros > img.book{
   display: inline;
   margin: auto;
   margin: 50px 0px 50px 0px;
   margin: 3px;
   padding: 0px;
}
aside#livros > img.book:hover{
    -webkit-transform: scale(1.2);
    -webkit-transition: all .4s ease-in;
}
div.config{
    background-color: var(--cor2);
    margin: 10px;
    padding: 10px;
    padding-bottom: 80%;
    position: relative;
    border: 1px solid var(--cor3);
    
}

div.config video{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 70%;
    margin-top: 9%;
    border: 1px solid var(--cor3);

}

aside#video p{
    text-align: center;
    
}
aside#video strong{
    color: white;
}

#galeria{
    background-color: var(--cor1);
    margin: 50px 0px 50px 0px;
    text-align: center;
}
#galeria .foto{
    display: inline-block;
    margin: auto;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 4);
    width: 200px;
    height: 200px;
    border: 5px solid var(--cor3);
    margin: 5px;
    -webkit-transition: all .4s ease-in;
}
#galeria .foto:hover{
    -webkit-transform: scale(1.2);
}

#ft1{ 
    background: url("imagens/rj-red3.jpg");
    background-position: 100% 100%;
    background-size: 250px 250px;
    background-color: #ffffff;
}
#ft1:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
    
}
#ft1:active{
    background: url("imagens/ilha-luanda.jpg");
}
#ft2{ 
    background: url("imagens/rj-b2.jpg");
    background-position: 100% 100%;
    background-size: 250px 250px;
    background-color: #ffffff;
}
#ft2:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
    
}
#ft2:active{
    background: url("imagens/ilha-2.jpg");
}
#ft3{
    background:url("imagens/rj-blue-2.jpg");
    background-position: 100% 100%;
    background-size: 250px 250px;
    background-color: #ffffff;
}
#ft3:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
    
}
#ft3:active{
    background: url("imagens/vancor.jpg");
}
#ft4{
    background: url("imagens/rj-skyblue-2.jpg");
    background-position: 100% 100%;
    background-size: 250px 250px;
    background-color: #ffffff;
}
#ft4:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
    
}
#ft4:active{
    background: url("imagens/pc.jpg");
}
#ft5{
    background: url("imagens/nt1.jpg");
    background-position: 100% 100%;
    background-size: 250px 250px;
    background-color: #ffffff;
}
#ft5:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
    
}
#ft5:active{
    background: url("imagens/ps5.jpg");
}
#ft6{
    background: url("imagens/mano-adilson.jpg");
    background-position: 100% 100%;
    background-size: 250px 250px;
    background-color: #ffffff;
}
#ft6:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
    
}
#ft6:active{
    background: url("imagens/programming.jpg");
}
#ft7{
    background: url("imagens/mana-valéria.jpg");
    background-position: 100% 100%;
    background-size: 250px 250px;
    background-color: #ffffff;
}
#ft7:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
    
}
#ft7:active{
    background: url("imagens/red-red4.jpg");
}
#ft8{
    background: url("imagens/rj-nata.jpg");
    background-position: 100% 100%;
    background-size: 250px 250px;
    background-color: #ffffff;
}
#ft8:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
    
}
#ft8:active{
    background: url("imagens/rj-b3.jpg");
}
#ft9{
    background: url("imagens/fada-tieny.jpg");
    background-position: 100% 100%;
    background-size: 250px 250px;
    background-color: #ffffff;
}
#ft9:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
    
}
#ft9:active{
    background: url("imagens/rj-blue.jpg");
}
#ft10{
    background: url("imagens/fm3.JPG");
    background-position: 100% 100%;
    background-size: 250px 250px;
    background-color: #ffffff;
}
#ft10:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
    
}
#ft10:active{
    background: url("imagens/rj-b1.jpg");
}
#ft11{
    background: url("imagens/fm2.JPG");
    background-position: 100% 100%;
    background-size: 250px 250px;
    background-color: #ffffff;
}
#ft11:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
    
}
#ft11:active{
    background: url("imagens/rj-gray2.jpg");
}
#ft12{
    background: url("imagens/fm.JPG");
    background-position: 100% 100%;
    background-size: 250px 250px;
    background-color: #ffffff;
}
#ft12:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
    
}
#ft12:active{
    background: url("imagens/rj-white.jpg");
}
footer{
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
    font-size: 0.8em;
    min-width: 128px;
    max-width: 1280px;  
}

footer > p > a{
    padding: 20px 10px;
    color: white;
    text-decoration: none;
    
   
}
footer > p > a:hover{
    color: white;
    text-decoration: underline;
}
footer > p{
    color: white;
    font-family: var(--font-principal);
    padding: 30px;
    text-align: center;
  
}
footer aside  p{
    text-align: justify;
    padding: 10px;
    font-family: var(--font-principal);
    color: white;
}

footer aside a{
    color: var(--cor3);
    font-weight: bolder;
    text-decoration: none;
    
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor4);
}